* {
    background-color: #E7FAFF;  
  }

  .container {
background-color: #E7FAFF;
  }

  h1 {
    color: #7644D9;
    padding-top: 5%;
    padding-bottom: 2%;
}

h2 {
    color: #ED4A9E;
    padding-bottom: 1%;
}

img {
  padding-top: 30%;
    height: 30%;
}

.col-4 {
  text-align: center;
  color: #1DC7D3;
}