* {
    background-color: #E7FAFF;  
  }

  .container {
background-color: #E7FAFF;
  }

  h1 {
    color: #7644D9;
    padding-top: 5%;
    padding-bottom: 2%;
}

h2 {
    color: #1DC7D3;
    padding-bottom: 1%;
}

img {
    height: 30%;
}